<!--Template for Django and JS rendering-->
<!DOCTYPE html>
{% load static %}
{% csrf_token %}

<html lang="en">
  <head>
    <title>Calendar</title>
    <meta charset='utf-8' />
    <link href="{% static 'cal/cal-main.css'%}" rel='stylesheet' />
    <link href="{% static 'main_style.css'%}" rel='stylesheet' />
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script type="text/javascript" src="{% static 'loader.js'%}"></script>
    <script src="{% static 'cal/cal-main.js'%}"></script>
  </head>

  <body id="main" onload="load()">
    <div class="container">
      <div id="index"></div>
      <div id="calendar"></div>
      <div id="filter"></div>
    </div>
  </body>
</html>